.todo-form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
}

.todo-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

.todo-form input:focus {
    border: 1px solid #7189D7;
}

.todo-form button {
    margin-left: 10px;
    background: #7189D7;
    color: #fff;
}

.todo-form button:hover {
    background: #677bc4;
}

.todo-form button:active {
    background: #5b6eae;
}