.header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #dadada;
    background-color: #36393F;
    text-align: center;
    text-transform: uppercase;
}

.title {
    display: inline-block;
    color: #fff;
    margin: 1rem auto;
}